<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sent Messages</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Received Messages</a></li>
    <li role="presentation"><a href="#suggest" aria-controls="suggest" role="tab" data-toggle="tab">Suggest Charity</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <%= render 'messages/sent_messages' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <%= render 'messages/received_messages' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="suggest">
      <br />
      <%= form_for current_user.suggestions.build, url: suggest_charity_path, method: :post do |f| %>
        <%= f.label :charity_name %>:
        <%= f.text_field :charity_name, required: true %><br />
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
