<% if @sent_messages != nil %>
<div class="container">
    <%@sent_messages.each do |message|%>
    <div class="col-md-6" style="margin-left: 5px;margin-top:15px; margin-right: 5px; background-color: rgba(58, 74, 81, 0.15)">
        <div class="row" style="margin-top:10px">
            <div class="col-md-3">
                <% if message.reciever.image_url.present? %>
                <%= image_tag message.reciever.image_url.to_s,size: '80x80', class: 'ui circular image'%>
                <%else%>
                <%= image_tag ('profile-icon.png'), size: '80x80', class: 'ui circular image' %>
                <% end %>
            </div>
            <div class="col-md-8">
                <h3><%= message.reciever.to_s%></h3>
                <span><%= message.reciever.description%></span>
            </div>
        </div>
        <div class="ui segment">

            <%= message.message_body%>

        </div>
        <div class="row">
            <span>
                <button type="button" name="button" class="ui button ">
                    <i class="ui talk icon"></i>
                    Message</button>
            </span>
            <span>
                <button type="button" name="button" class="ui button ">
                    <i class="ui calendar icon"></i>Schedule</button>
            </span>
            <span>
                <button type="button" name="button" class="ui button">
                    <i class="ui checkmark icon "></i>
                    Accept</button>
            </span>
            <span>
                <button type="button" name="button" class="ui button">
                    <i class="ui remove icon"></i>
                    Decline</button>
            </span>
        </div>
    </div>
    <%end%>
</div>
<%end%>
