<% if @sent_messages != nil %>
<div class="container">
    <%@sent_messages.each do |message|%>
    <div class="col-md-10" style="margin-left: 5px;margin-top:15px; margin-right: 5px; background-color: rgba(58, 74, 81, 0.15)">
        <div class="row" style="margin-top:10px">
            <div class="col-md-3">
                <% if message.reciever.image_url.present? %>
                <%= image_tag message.reciever.image_url.to_s,size: '80x80', class: 'ui circular image'%>
                <%else%>
                <%= image_tag ('profile-icon.png'), size: '80x80', class: 'ui circular image' %>
                <% end %>
            </div>
            <div class="col-md-8">
                <h3><%= message.reciever.to_s%></h3>
                <span><%= message.reciever.description%></span>
            </div>
        </div>
        <div class="ui segment yellow">
            <%= message.message_body%>
        </div>
        <a class="btn btn-primary pull-right" role="button" data-toggle="collapse" href="#collapseSent<%message.id%>" aria-expanded="false" aria-controls="collapseExample">
            Responses
        </a>

        <div class="collapse" id="collapseSent<%message.id%>">
            <div class="well">
                <h4>Responses:</h4>
                <% message.responses.each do |response| %>
                <% if response.body.first == "{" %>
                <% if response.user_id == current_user.id %>
                <div class="ui segment blue">
                    <%= response.appointment_date! %>
                </div>
            <% else %>
                <div class="ui segment red">
                    <%= response.appointment_date! %>
                </div>
                <% end %>
                <%else%>
                <% if response.user_id == current_user.id %>
                <div class="ui segment blue">
                    <%= response.body %>
                </div>
            <% else %>
                <div class="ui segment red">
                    <%= response.body %>
                </div>
                <% end %>
                <%end%>
                <% end %>
            </div>
        </div>
<!-- FIXME: Not really needed -->
        <div class="row">
            <span>
                <button type="button" name="button" class="ui button popup-response">
                    <i class="ui talk icon"></i>
                    Reply</button>

                <div class="row ui special popup" id="messages-form" style="background-color: #3a4a51">
                    <%= simple_form_for message.responses.new, url: user_message_responses_path(current_user.id, message.id), method: :post do |f| %>
                    <div class="row">
                        <div class="" style="padding: 5px; border-radius:8px">
                            <%= f.input :body, as: :text, input_html: {required: true}, label: false %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" name="button" class="orange button " style="padding: 0;border: none;background: none; color: orange">
                                Send
                                <i class="ui orange send icon"></i>
                            </button>
                        </div>
                    </div>
                    <% end %>
                </div>
            </span>
            <!-- <span>
                <button type="button" name="button" class="ui button ">
                    <i class="ui calendar icon"></i>Schedule</button>
            </span>
            <span>
                <button type="button" name="button" class="ui button">
                    <i class="ui checkmark icon "></i>
                    Accept</button>
            </span>
            <span>
                <button type="button" name="button" class="ui button">
                    <i class="ui remove icon"></i>
                    Decline</button>
            </span> -->
        </div>
    </div>
    <%end%>
</div>
<%end%>
