<div class="row">
    <div class="col-md-3">
        <aside class="row" style="padding-top: 20px">
          <%= simple_form_for @users_search, as: :advanced_search, url: users_path, method: :get do |f| %>
              <%= f.input :location %>
              <!--<%= f.input :languages %>-->
              <%= f.button :submit %>
          <% end %>
        </aside>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8"></div>
            <!--<div class="col-md-4">-->
                <!--<%= form_tag users_path , method: :get do %>-->
                <!--<%= text_field_tag :search , params[:search] , placeholder: 'search...' %>-->
                <!--<%= submit_tag 'Search',name: nil , class: 'btn btn-xs btn-success' %>-->
                <!--<% end %>-->
            <!--</div>-->
        </div>

        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
          <div style="background-color:rgba(58, 74, 81, 0.15);border-radius:5px;margin-top:5px">
            <div class="row" style="padding-top: 50px">
              <div class="col-md-2 col-md-offset-1">
                <% if user.image_url.present? %>
                   <%= image_tag user.image_url.to_s, size: '80x80', class: 'search-image ui circular' %>
                 <%else%>
                   <%= image_tag ('profile-icon.png'), size: '80x80', class: 'search-image ui circular' %>
                <% end %>
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6">
                          <h3>
                              <%= user.first_name %>
                              <%= user.last_name %>
                          </h3>
                      </div>
                      <div class="col-md-6">
                          <p>
                              Location:
                              <%= user.location %>
                              <!-- Headline: <%= user.headline %> -->
                              <% @charities.each do |charity| %>
                              <% if charity.user_id == user.id  %>
                              Charity:
                              <%= charity.name if charity.present? %>
                              <%end%>
                              <%end%>
                          </p>
                      </div>

                  </div>
              </div>
              <div class="col-md-2">

                    Industries:
                    <%= user.industry %>
              </div>

            </div>
            <div class="row" style=" margin-left:50px;margin-right:50px;background-color:white;height:2px">

            </div>
            <div class="row" style="height:50px; padding-top: 10px">
              <div class="col-md-2 col-md-offset-3">
                <span>
                  Donate
                <%= user.donation_amount %>
                </span>

              </div>
              <div class="col-md-2 col-md-offset-4">
                <span>
                <%= link_to 'Contact', user_path(user.id)  %>
                </span>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
</div>
