<% @users.each do |user| %>
    <div class="search-box">
      <div class="container">
        <div class="col-md-2">
          <%= image_tag user.image, size: '80x80', class: 'search-image' %>
        </div>
        <div class="col-md-3">
          <h2>
            <%= user.first_name %>
            <%= user.last_name %>
          </h2>
        </div>
        <div class="col-md-3">
          <h3>
          <%= user.location %>
          <%= user.headline %>
          <%= user.industry %>
          </h3>
        </div>
        <div class="col-md-3">
          <h4>
            <%= user.donation_amount %>
            <%= user.total_donated %>
          </h4>
          <span>
            <%= link_to 'Contact', user_path(user) %>
          </span>
        </div>
      </div>
    </div>
<% end %>
