<div class="user-profile" style="padding-top: 20px">
    <!--profile details -->
  <div class="row">
    <div class="col-md-6 user-details">
      <div class="row">
        <div class="col-md-2 ">
          <% if @user.image_url.present? %>
              <%= image_tag @user.image_url.to_s, class: 'profile-image' , size: '80x80', id: 'profile-image' %>
          <%else%>
              <%= image_tag ('profile-icon.png'), size: '80x80', class: 'search-image ui circular' %>
          <% end %>

        </div>
        <div class="col-md-10 profile-texts">
            <h2>
                <%= @user.first_name  %>
                <%= @user.last_name  %>
            </h2>
            <h3>
                Headline:
                <%= @user.headline  %>
                <br>
                Position:
                <%= @user.description %>
                <br>
                Charity:
                <%= @user.charity.name if @charity.present? %>
            </h3>
            <% if @user.id == current_user.id %>
            <span ><%= link_to 'Edit Accout', edit_user_registration_path %></span>
            <% end %>
        </div>
      </div>
    </div>

    <!--Price tag -->
    <div class="col-md-4 user-price">
      <div class="row">
        <div class="col-md-6">
            <p>Donation Tag</p>
            <h2 class="money"><%= number_to_currency(@user.donation_amount, precision: 1, unit: '€')%></h2>
        </div>
        <div class="col-md-6">
            <p>Total Donated</p>
            <h2 class="money"><%= number_to_currency(@user.total_donated, precision: 1, unit: '€') %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% if @user == current_user%>
  <%= render 'messages/index' %>
  <%else%>
  <div class="ui segment">
    <p>Not loading...</p>
  </div>
  <%end%>
</div>
