<div class="container user-profile">
  <div class="col-md-offset-1 col-md-6 user-details">
    <div class="col-md-4 ">
      <%= image_tag @user.image, class: 'profile-image' %>
    </div>
    <div class="col-md-8">
      <h2>
        <%= @user.first_name  %>
        <%= @user.last_name  %>
      </h2>
      <p>
        <%= @user.headline  %>
      </p>
      <p>
        <%= @user.description %>
      </p>
    </div>
  </div>
  <div class="col-md-4 user-price">
    <div class="col-md-6">
      <p> Price Tag </p>
      <h2>80$</h2>
    </div>
    <div class="col-md-6">
      <p> Donated </p>
      <h2>908980$</h2>
    </div>
  </div>
</div>


