<div class="">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="landing-page-header">
      <%= image_tag("logo.png") %>
      <h3>Connecting for charity</h3>
    </div>
  </div>
  <div class="row" id="landing-page-body">
    <div class="col-md-8">
      <div class="row">
        <h2>How does it work?</h2>
        <p>Chafity is a place, where people from both buisness and sales actually make a difference in the world!.<br>
        Every call can save somebody's life or bring education to children.</p>
      </div>
      <div class="row top-boxes">
        <div class="col-md-4 top-boxes-x">
          <span>
            <%= image_tag("create_user.png", size: "74x66") %>
          </span>
          <div class="">
            <h2> 1. Create</h2>
            <p>Create and account and decide the amount you want to be donated to charity by the person who wants to call you</p>
          </div>
        </div>
        <div class="col-md-4 top-boxes-x">
          <span>
          <%= image_tag("search.png", size: "57x57") %>
          </span>
          <div class="">
            <h2> 2. Search and be searcable</h2>
            <p>Look for people or let people look you up. Agree on a time for calls. Your contact numbers will stay private.</p>
          </div>
        </div>
        <div class="col-md-4 top-boxes-x">
            <span>
              <%= image_tag("connect.png", size: "118x67") %>
            </span>
          <div class="">
            <h2> 3. Call</h2>
            <p>Communicate on a fixed time. After the call a donation is transferred from the caller to the designated charity.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 landing-btns">
      <h2>Join us and support the ones in need with every call!</h2>
      <p>All your information will stay private.</p>
      <div class="row">
        <div class="col-md-12 ">
          <button class="btn btn-lg landing-btn">Register</button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-lg landing-btn">Login</button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-social btn-linkedin" >
            <span class="fa fa-linkedin"></span>
            Login with Linkedin
            </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="landing-page-footer">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="latest-donations">Collected donations</h2>
        <p>Do you represent a charity?</p>
      </div>
    </div>
    <div class="row">
      <div class="bottom-boxes">
        <div class="col-md-3">
          <%= image_tag("unicef.png", size:"166x38") %>
          <h2>1378$</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("moma.png", size:"169x71") %>
          <h2>568$</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("wwf.png", size:"97x105") %>
          <h2>10567$</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("human.png", size:"92x92") %>
          <h2>210945$</h2>
        </div>
      </div>
    </div>
  </div>
</div>