<div class="">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="landing-page-header">
      <%= image_tag("logo.png") %>
      <h3>Connecting for charity</h3>
    </div>
  </div>
  <div class="row" id="landing-page-body">
    <div class="col-md-8">
      <div class="row">
        <h2>Kuidas töötab:</h2>
        <p>Chafity on koht, kus äri ja müügiinimesed tegelikult muudavad maailma. <br>
          Iga kontakt võib päästa kellegi elu või aidata lastele saada haridust. <br>
          We care ...   We belive ...   We want ...</p>
      </div>
      <div class="row top-boxes">
        <div class="col-md-4 top-boxes-x">
          <span>
            <%= image_tag("create_user.png", size: "74x66") %>
          </span>
          <div class="">
            <h2> 1. Seadista</h2>
            <p>Lood konto & määrad annetuse summa, mida tasub inimene, kes soovib sinuga kontakti luua. </p>
          </div>
        </div>
        <div class="col-md-4 top-boxes-x">
          <span>
          <%= image_tag("search.png", size: "57x57") %>
          </span>
          <div class="">
            <h2> 2. Otsi ja ole otsitav</h2>
            <p>Otsid ise või otsitakse sind. Lepite kõnekohtumise aja. Kontaktnumbrid jäävad privaatseks, kui te ei määra muud. </p>
          </div>
        </div>
        <div class="col-md-4 top-boxes-x">
            <span>
              <%= image_tag("connect.png", size: "118x67") %>
            </span>
          <div class="">
            <h2> 3. Antena</h2>
            <p>Määratud ajal suhtlete.
              Peale kontakti kontakti algataja arvelt liigub annetuse summa kontakti jagaja valitud heategevuse organisatsioonile. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 landing-btns">
      <h2>Liitu meiega ja toeta iga konedega abivajajaid</h2>
      <p>Sinnu somthing something dark side</p>
      <div class="row">
        <div class="col-md-12 ">
          <button class="btn btn-lg landing-btn">Signup</button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-lg landing-btn">Login</button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-social btn-linkedin" >
            <span class="fa fa-linkedin"></span>
            Sign in with Linkedin
            </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="landing-page-footer">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="latest-donations">Kogutud annetused</h2>
        <p>Esindad heategevusorganisatsiooni?</p>
      </div>
    </div>
    <div class="row">
      <div class="bottom-boxes">
        <div class="col-md-3">
          <%= image_tag("unicef.png", size:"166x38") %>
          <h2>1378</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("moma.png", size:"169x71") %>
          <h2>568</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("wwf.png", size:"97x105") %>
          <h2>10567</h2>
        </div>
        <div class="col-md-3">
          <%= image_tag("human.png", size:"92x92") %>
          <h2>210945</h2>
        </div>
      </div>
    </div>
  </div>
</div>